/*.ltCont .lightbox_open { visibility:visible }*/
@import "model";
.flipOpen,
.flipClose {
    transform-origin: 50% 0 0;
    transition: transform 0.3s, opacity 0.3s;
}

.flipOpen {
    transform: perspective(1300px) rotateX(0deg);
    opacity: 1;
}

.flipClose {
    transform: perspective(1300px) rotateX(-60deg);
    opacity: 0;
}
