/*.ltCont .lightbox_open { visibility:visible }*/
.ltCont { overflow: hidden; }

.ltCont, .ltLayer { -moz-box-sizing: border-box; box-sizing: border-box; }

.ltCont, .ltCont .ltLayer { position: absolute; top: 0; right: 0; left: 0; bottom: 0; }

.ltCont.close { display: none; }

.ltCont .ltLayer { background: #000; -moz-transition: opacity 0.3s; transition: opacity 0.3s; }

.ltCont .ltLayer.open { opacity: 0.5; filter: alpha(opacity=50); }

.ltCont .ltLayer.close { opacity: 0; filter: alpha(opacity=0); }

.lightbox, .drawer { visibility: hidden; z-index: -1; }

.ltCont .model_open { visibility: visible; }

.flipOpen, .flipClose { -webkit-transform-origin: 50% 0 0; -moz-transform-origin: 50% 0 0; -ms-transform-origin: 50% 0 0; transform-origin: 50% 0 0; -moz-transition: -moz-transform 0.3s, opacity 0.3s; transition: -webkit-transform 0.3s, opacity 0.3s; transition: transform 0.3s, opacity 0.3s; }

.flipOpen { -webkit-transform: perspective(1300px) rotateX(0deg); -moz-transform: perspective(1300px) rotateX(0deg); transform: perspective(1300px) rotateX(0deg); opacity: 1; }

.flipClose { -webkit-transform: perspective(1300px) rotateX(-60deg); -moz-transform: perspective(1300px) rotateX(-60deg); transform: perspective(1300px) rotateX(-60deg); opacity: 0; }
